

#Iniciar_Juego {
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    color:#000000;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:15px;
    padding-right:15px;
    background-color: #1565C0;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;

